<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Untitled Custom SSG</title>
</head>
<body>

    <div class="container">
        <div>
            {{ .Content }}
        </div>
    </div>

</body>
</html>
